body, html {
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: #fafafa;
    color: #1A1B25;
}

.content {
    position: fixed;
    line-height: 24px; /* 4px +12px + 4px */
    bottom: 30px;
    left: 30px;
    right: 30px;

}

.privacy {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 30px;
    margin-left: 30px;
}

a {
    color: #2091d5;
    text-decoration: none;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}